<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  
  <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  
  <link rel='stylesheet' href='/stylesheets/style.css' />
  {{!--
  <script src='/javascripts/chuminadas.js'></script> --}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
     <script src='/javascripts/script.js'></script>
     <script src="https://developer.edamam.com/attribution/badge.js"></script>

</head>

<body>
  <navbar class="navbar fixed-top">
    <a class="navbar-brand" href="/search"><img src="/images/logo.png" alt="Logo"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {{#if user}}
        <a class="nav-link" href="/search">Home
        {{else}}
        <a class="nav-link" href="/">Home
        {{/if}}
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    {{#if user}}
    <a href="/user/user/" class="username">{{user.username}}</a>
    {{else}}
    <!-- Button trigger modal -->
<button type="button" class="btn login" data-toggle="modal" data-target="#exampleModal">
  Log in
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form class="needs-validation" action="/auth/login" method="POST" id="form-container" novalidate>
                    <div>
                      <label for="username">Your name</label>
                      <input class="form-control" id="username" type="email" name="username" placeholder="Your name" required>
                      <div class="invalid-feedback">
                        Invalid username.
                      </div>
                    </div>
                    <div class="mt-2">
                      <label for="password">Your password</label>
                      <input class="form-control" id="password" type="password" name="password" placeholder="Your password" required>
                      <div class="invalid-feedback">
                        Your password is invalid.
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Log in</button>
                      <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
      </div>
    </div>
  </div>
</div>
   
    {{/if}}
  </navbar>
  <div class="container-fluid main">
    {{{body}}}
  </div>
  <footer class="container-fluid fixed-bottom d-flex flex-direction-row">
    <div class="badges">
      <p>Created by: Los Guiris</p>
      <div id="edamam-badge" data-color="transparent"></div>
    </div>
    <div class="links"><a href="/about">About</a><span>|</span><a href="/contact">Contact us</a></div>
  </footer>
</body>
</html>