<form class="container-fluid d-flex flex-row" action="/search" method="post">
  <div class="container-fluid d-flex flex-column">
    <div class="form-group container-fluid d-flex flex-row">
      <h3 id="name">Name</h3>
      <input class="form-control" type="text" name="name" required>
    </div>
    <div class="container-fluid d-flex flex-row">
      <div class="form-group container-fluid d-inline-flex flex-column">
        <label for="time">
          <h3>Preparation time</h3>
        </label>
        <input class="form-control" type="number" id="amount" name="t_min" placeholder="min">
        <input class="form-control" type="number" name="t_max" placeholder="max">
        <div id="slider-range"></div>
      </div>

      <div class="form-group container-fluid d-inline-flex flex-column col-4">
        <h3>Health considerations</h3>
        <div class="d-flex flex-row">
          <div class="d-flex flex-column">
            <div class="form-check-inline">
              <input class="form-check-input" type="checkbox" name="health" value="tree-nut-free" />
              <label class="form-check-label" for="balanced">Tree Nut Free</label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="checkbox" name="health" value="peanut-free" />
              <label class="form-check-label" for="balanced">Peanut Free</label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="checkbox" name="health" value="alcohol-free" />
              <label class="form-check-label" for="balanced">Alcohol Free</label>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="form-check-inline">
              <input class="form-check-input" type="checkbox" name="health" value="sugar-conscious" id="sugar-conscious" />
              <label class="form-check-label" for="sugar-conscious">Sugar conscious</label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="checkbox" name="health" value="vegetarian" />
              <label class="form-check-label" for="balanced">Vegetarian</label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="checkbox" name="health" value="vegan" />
              <label class="form-check-label" for="balanced">Vegan</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-2">
        <h3>Diets</h3>
        <div class="form-check-inline">
          <input class="form-check-input checkbox" type="checkbox" name="diet" value="balanced" id="balanced" />
          <label class="form-check-label" for="balanced">Balanced</label>
        </div>
        <div class="form-check-inline">
          <input class="form-check-input checkbox" type="checkbox" name="diet" value="low-carb" id="low-carb">
          <label class="form-check-label" for="low-carb">Low carbs</label>
        </div>
        <div class="form-check-inline">
          <input class="form-check-input checkbox" type="checkbox" name="diet" value="low-fat" />
          <label class="form-check-label" for="balanced">Low fat</label>
        </div>
        <div class="form-check-inline">
          <input class="form-check-input checkbox" type="checkbox" name="diet" value="high-protein" />
          <label class="form-check-label" for="balanced">High protein</label>
        </div>
      </div>
      <div class="form-group container-fluid d-inline-flex flex-column col-2">
        <label for="callories">
          <h3>Callories</h3>
        </label>
        <input class="form-control" type="number" name="cal_min" placeholder="min">
        <input class="form-control" type="number" name="cal_max" placeholder="max">
      </div>
      <div class="d-flex flex-direction-column justify-content-center">
      <button class="button" type="submit">Search</button>
      </div>
    </div>
  </div>
</form>
<div class="container-fluid d-flex flex-row justify-content-center flex-wrap no-gutters">
  {{#each recs}}
  <a href="/recipe/{{this.recipe.label}}?id={{this.recipe.url}}" class="recipe m-2 col-4">
    <div class="d-flex">
      <img class="image-thumbnail" src="{{this.recipe.image}}" alt="{{this.recipe.label}}">
      <span class="cals">{{round this.recipe.calories}} cal.</span>
      <div class="diet">
        {{#each this.recipe.dietLabels}}
        <img src="/images/{{this}}.svg"></img>
        {{/each}}
      </div>
    </div>
    <h2>{{dotdotdot this.recipe.label}}</h2>
  </a>
  {{/each}}
</div>